[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jax = {extras = ["cpu"], version = "*"}
scipy = "*"
pydantic = "*"
confection = "*"
tqdm = "*"
autograd = "*"
numpyro = "*"
sympy = "*"
muse-inference = {git = "https://github.com/marius311/muse_inference.git"}
panel = "*"
pandas = "*"
joblib = "*"
pipfile = "*"
funsor = "*"

[dev-packages]
jupyter = "*"
pytest = "*"
pytest-benchmark = "*"
matplotlib = "*"
