[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jax = {extras = ["cpu"], version = "*"}
scipy = "*"

[dev-packages]
notebook = "*"
pytest = "*"
pytest-benchmark = "*"
matplotlib = "*"
tqdm = "*"
jupyter-contrib-nbextensions = "*"
pip = "*"
install = "*"
jupyter-nbextensions-configurator = "*"
line-profiler = "*"
memory-profiler = "*"
