numpydoc
vbjax
setuptools_scm
numpy 
jax 
jaxlib 
scipy 
numpyro 
cloud_sptheme
pytest
pytest-xdist
pytest-benchmark
twine
build
tqdm
jupyter
matplotlib
joblib
grip
python-lsp-server
jedi-language-server
jax-dataclasses